@model IdentitySecuredApp.Models.UserModel

@{ ViewData["Title"] = "Login"; }



<h1>Own Your Laptop</h1>
<h3> Seller Login Page</h3>
<p>Login or register from here to access.</p>
<div style="margin-left: 40%; padding: 0px 10px;">
    <div class="col-md-6 col-sm-12">
        <div style="margin-top: 30%;">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" placeholder="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-secondary" />
                </div>
                <u><a asp-controller="Accounts" asp-action="Index"> Back to home </a></u>
                @ViewBag.msg

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }

            </form>
        </div>
    </div>
</div>


