<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Digital Retailers</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
</head>
<body>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 text-center col-md-8 p-lg-5 mx-auto my-5">
                    <h1>Own Your Laptop</h1>
                    
                    <p><a asp-controller="Accounts" asp-action="Login" class="btn btn-outline-secondary">Buyer Login</a>
                       <a asp-controller="Seller" asp-action="Login" class="btn btn-outline-secondary">Seller Login</a> 
                       <a asp-controller="Admin" asp-action="Login" class="btn btn-outline-secondary">Admin Login</a></p>
                </div>
                <div class="col-lg-6 order-1 order-lg-2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_nhjS0RZhinMEVpdYVjsRC0KyvUAQHmoq8Q&usqp=CAU" alt="..." class=""></div>
            </div>
        </div>
    </section>

    <style>

    </style>


    
</body>
</html>