@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Best Business Laptops Powered with Latest AMD® Processors. Delivering Reliable Productivity with Best Premium Performance. Shop Now. No cost EMI. Amenities: Thin and light, Backlit Keyboard, Solid State Drive, Easy To Carry. </p>
    <pre></pre>
    <p>HAPPY SHOPPING!</p>
</div>
